html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
}

body {
    margin: 0;
    font-family: Lato;
}

p {
    font-family: Montserrat;
}

h2 {
    color: #ff2600;
}

html,
body {
    position: relative;
    height: 100%;
}

.orange-round-btn {
    border-radius: 20px;
    color: #fff;
    background-color: #ff2600;
    font-weight: bold;
    border: 0;
    padding: 10px 20px;
}

.white-round-btn {
    border-radius: 20px;
    color: #ff2600;
    font-weight: bold;
    background-color: #fff;
    border: 0;
    padding: 5px 20px;
    margin: 15px 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}

.container2 {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

header {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #ffffff 50%, #ffcc00 50%);
    padding-top: 20px;
    /* padding-bottom: 40px; */
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0px;
    height: 72px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0px;
    flex: auto;
}

nav li {
    padding-right: 30px;
}

nav li a {
    outline: none;
    text-decoration: none;
    padding: 5px 0;
}

nav .menu-icon {
    display: none;
    font-size: 2rem;
    /* height: 72px;
    width: 72px; */
}

.scroll {
    background-color: #ffcc00;
}

.active {
    color: #ff2600 !important;
    border-bottom: 3px solid #ff2600;
    transition: all 0.3s ease;
}

nav li a:link {
    color: #000000;
}

nav li a:visited {
    color: #000000;
}

/* Slideout Menu */

.slideout-menu {
    display: none;
    background-color: rgba(255, 204, 0, 0.9);
    z-index: 200;
    position: fixed;
    transition: 0.7s;
    transition-timing-function: ease-in-out;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    top: -330px;
}

.slideout-menu ul {
    list-style: none;
    padding: 0px 32px;
}

.slideout-menu ul li {
    padding: 8px;
}

.slideout-menu a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.search-group {
    position: relative;
    width: 400px;
}

.search-group input,
.slideout-menu input {
    border: 0;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
    box-sizing: border-box;
}

.search-group button,
.slideout-menu button {
    border: 0;
    background-color: transparent;
    position: absolute;
    font-size: 1.5rem;
}

.search-group button {
    top: 5px;
    right: 4px;
}

.slideout-menu button {
    bottom: 27px;
    right: 45px;
}

.hero-section {
    top: 0;
    padding-top: 120px;
}

.company-desc {
    position: absolute;
    top: 120px;
    width: 15%;
}

.company-desc h1 {
    font-size: 5rem;
    margin: 0;
}

.company-desc p {
    font-size: 1.25rem;
}

.swiper1 .hero-slide {
    text-align: center;
    font-size: 18px;
}

.carousel-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #ff2600;
    border: 0;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    font-size: 2rem;
    cursor: pointer;
}

section.menu h2 {
    text-align: center;
    padding-top: 30px;
    margin: 0;
}

.view-all-button {
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

.burger-menu-categories ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    padding-right: 50px;
}

.burger-menu-carousel {
    display: flex;
    align-items: center;
}

.prev-arrow,
.next-arrow {
    color: #ff9100;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.burger-menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.burger-item-card {
    background-color: #ff9100;
    color: #fff;
}

.burger-item-card h3,
.burger-item-card p {
    margin-left: 20px;
    margin-right: 20px;
}

.burger-item-card h4 {
    margin-left: 20px;
}

.burger-item-card img {
    width: 100%;
}

.burger-item-card button {
    height: 30px;
}

.burger-item-card div {
    display: grid;
    grid-template-columns: 1fr auto;
}

.burger-pack {
    background: linear-gradient(to right, #ffcc00 50%, #ff3d00 50%);
}

.burger-pack-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.family-pack {
    background-color: #ffcc00;
}

.couple-back {
    background-color: #ff9100;
}

.custom-pack {
    background-color: #ff3d00;
}

.burger-pack-card {
    display: flex;
    color: #fff;
    align-items: center;
}

.burger-pack-card button {
    border-radius: 20px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    padding: 5px 20px;
    font-weight: bold;
}

.burger-pack-card img {
    height: 200px;
    padding: 20px 0;
}

.burger-pack-card div {
    margin-left: 20px;
    margin-right: 20px;
}

section.about-us {
    width: 100%;
}

section.about-us:before {
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 420px;
    background-color: #ffcc00;
    content: "";
}

section .about-us-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 50px;
    height: 420px;
}

section .about-us-desc {
    padding-top: 20px;
}

section .logo {
    margin-top: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #ffcc00;
    width: 300px;
    height: 300px;
    text-align: center;
    float: left;
}

.logo img {
    position: relative;
    height: 65%;
    width: 65%;
    top: 50%;
    transform: translateY(-50%);
}

.testimonials h2 {
    text-align: center;
    padding-top: 20px;
}

.testimonials-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.testimonial-card {
    text-align: center;
    margin: 0 20px;
}

.testimonial-card img {
    border-radius: 50%;
    width: 100%;
}

.testimonial-card i {
    color: #ffcc00;
    padding: 0 3px;
}

.feedback-map {
    background: linear-gradient(to right, #ff9100 50%, #fff 50%);
}

.feedback-map-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feedback-section {
    color: #fff;
}

.feedback-section h2 {
    color: #fff;
    padding-top: 20px;
}

.feedback-section input {
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 0;
    box-sizing: border-box;
    width: 100%;
}

.feedback-section textarea {
    border: 0;
    padding: 12px 20px;
    resize: none;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
}

.form-group {
    width: 80%;
    margin: 0 auto;
}

.label-block {
    display: block;
}

.field-group {
    margin-top: 10px;
}

.field-group i {
    color: #fff;
    padding: 0 3px;
}

.feedback-section button {
    display: block;
    border-radius: 20px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px 20px;
}

.map-section iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

section.contact-us {
    text-align: center;
}

section.contact-us h2 {
    padding-top: 50px;
    margin: 0;
}

section.contact-us p a {
    color: #ff2600;
}

.social-media {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.social-media hr {
    border: 2px solid #ff2600;
    height: 0;
    width: 100%;
}

.social-media-btn-group {
    font-size: 3rem;
}

.social-media-btn-group i {
    color: #ff2600;
    margin: 0 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    header {
        position: relative;
        background: #ffcc00;
        top: 72px;
        padding-top: 0;
        margin-bottom: 72px;
    }
    nav {
        background: #ffcc00;
    }
    nav ul,
    .search-group {
        display: none;
    }
    .slideout-menu {
        display: block;
    }
    nav .menu-icon {
        display: block;
    }
    .hero-section {
        /* display: flex;
        flex-wrap: wrap; */
        color: #fff;
        height: auto;
        padding-top: 0;
        padding-bottom: 40px;
    }

    .swiper1 .hero-slide img {
        width: 100%;
        height: auto;
    }
    .company-desc {
        position: relative;
        width: 100%;
        text-align: center;
        height: auto;
        top: 0;
    }
    .company-desc h1 {
        margin: 0;
    }

    .burger-pack-card img {
        height: 75px;
    }
    .burger-pack-card button {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .burger-menu-categories {
        overflow: auto;
        white-space: nowrap;
    }
    .burger-menu-categories ul li {
        margin-right: 10px;
    }

    .burger-pack-section {
        display: flex;
        flex-wrap: wrap;
    }
    .burger-pack-card {
        width: 100%;
    }
    .burger-pack-card img {
        height: 150px;
    }
    .testimonials-section {
        grid-template-columns: 1fr 1fr;
    }
    .testimonial-card {
        margin-top: 20px;
    }
    .feedback-map-container {
        background-color: #ff9100;
    }
    .feedback-map-container {
        grid-template-columns: 1fr;
    }
    .map-section {
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .company-desc h1 {
        font-size: 2.5rem;
    }
    section.about-us:before {
        display: none;
    }
    section.about-us .logo {
        display: none;
    }
    section .about-us-section {
        display: block;
        padding-top: 10px;
        height: auto;
    }
    section .about-us-desc {
        width: 100%;
        text-align: center;
    }
    section .about-us-desc p {
        text-align: left;
    }
    .testimonials-section {
        grid-template-columns: 1fr;
    }
    .testimonial-card img {
        border-radius: 50%;
        width: 75%;
    }
}
